<html>
<meta charset="UTF-8">

<head>

<title>Photograph Album</title>
<link href="pure-min.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="modal.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="style.css" rel="stylesheet" type="text/css" media="all"></link>
<link
    href="open-iconic/font/css/open-iconic.css"
    rel="stylesheet"
    type="text/css"
    media="all">
</link>

</head>

<body>

<div id="template_header"></div>
<div id="template_content"></div>

<script type="text/template" id="homepage">
<h1>Helios <small>Photograph Album</small></h1>
<div class="pure-g main-menu">
    <div class="pure-u-12-24">
        <button class="pure-button" name="albums">
            <span aria-hidden="aria-hidden" data-glyph="book" class="oi"> </span>
            Albums
        </button>
    </div>
    <div class="pure-u-12-24">
        <button class="pure-button" name="locations">
            <span aria-hidden="aria-hidden" data-glyph="map" class="oi"> </span>
            Locations
        </button>
    </div>
    <div class="pure-u-12-24">
        <button class="pure-button" name="signin">
            <span aria-hidden="aria-hidden" data-glyph="account-login" class="oi"> </span>
            Sign In
        </button>
    </div>
    <div class="pure-u-12-24">
        <button class="pure-button" name="signout">
            <span aria-hidden="aria-hidden" data-glyph="account-logout" class="oi"> </span>
            Sign Out
        </button>
    </div>
    <div class="pure-u-12-24">
        <button class="pure-button" name="tags">
            <span aria-hidden="aria-hidden" data-glyph="tags" class="oi"> </span>
            Tags
        </button>
    </div>
    <div class="pure-u-12-24">
        <button class="pure-button" name="uncategorised">
            <span aria-hidden="aria-hidden" data-glyph="puzzle-piece" class="oi"> </span>
            Uncategorised
        </button>
    </div>
    <div class="pure-u-12-24">
        <button class="pure-button" name="upload">
            <span aria-hidden="aria-hidden" data-glyph="data-transfer-upload" class="oi"> </span>
            Upload
        </button>
    </div>
</div>
</script>

<script type="text/template" id="thumbnail-page">
<ul name="thumbnails" class="thumbnail-list"></ul>
</script>

<script type="text/template" id="album-form">
<fieldset class="pure-control-group">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%-name%>">
    </input>
</fieldset>
<button type="submit" class="pure-button pure-button-primary">Save</button>
</script>

<script type="text/template" id="photograph-thumb-view">
<img
    src="/jpeg_image?width=190&height=190&photograph_id=<%-photograph_id%>"
    alt="<%-title%>"><span class="vertical-align-helper"></span>
</script>

<script type="text/template" id="photograph-page">
<div class="image-container" style="height: 480px">
    <img
        src="/jpeg_image?width=800&height=480&photograph_id=<%-photograph_id%>"
        alt="<%-title%>"><span class="vertical-align-helper"></span>
</div>
<div class="pure-controls image-controls">
    <button
        type="button"
        <% if(disablePrev) print('disabled') %>
        name="prev"
        class="pure-button">
        <span aria-hidden="aria-hidden" data-glyph="chevron-left" class="oi">
        </span>
    </button>
    <button
        type="button"
        <% if(disableNext) print('disabled') %>
        name="next"
        class="pure-button">
        <span aria-hidden="aria-hidden" data-glyph="chevron-right" class="oi">
        </span>
    </button>
</div>
<h2><%-title%></h2>
<div name="details"></div>
<form name="edit" class="pure-form pure-form-aligned"></form>
<form name="albums" class="pure-form pure-form-aligned"></form>
</script>

<script type="text/template" id="photograph-view">
<dl type="compact">
<dt>Title</dt><dd><%-title%></dd>
<dt>Caption</dt><dd><%-caption%></dd>
<dt>Date</dt><dd><%-taken%></dd>
<dt>Location</dt><dd><%-location%></dd>
<dt>Tags</dt><dd><%-tags%></dd>
</dl>

<h2>Tools</h2>
<ul class="album-list">
<li><a href="/jpeg_image?width=400&height=300&photograph_id=<%-photograph_id%>">400x300</a></li>
<li><a href="/jpeg_image?width=800&height=600&photograph_id=<%-photograph_id%>">800x600</a></li>
<li><a href="/jpeg_image?width=1024&height=768&photograph_id=<%-photograph_id%>">1024x768</a></li>
<li><a href="/jpeg_image?width=1200&height=1000&photograph_id=<%-photograph_id%>">1200x1000</a></li>
<li><a href="/jpeg_image_fullsize?photograph_id=<%-photograph_id%>">Original size</a></li>
</script>

<script type="text/template" id="albums-page">
<button
    type="button"
    class="pure-button"
    data-target="#album-new-modal"
    data-toggle="modal">
    New Album
</button>
<div
    id="album-new-modal"
    tabindex="-1"
    class="modal fade hide"
    role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="new-album-form" class="pure-form pure-form-aligned">
                <div class="modal-header">
                    <h3>New Album</h3>
                </div>
                <div class="modal-body">
                        <div class="pure-control-group">
                            <label for="name">Name</label>
                            <input type="text" name="name"></input>
                        </div>
                </div>
                <div class="modal-footer">
                   <button
                        class="pure-button"
                        type="button"
                        data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Cancel</span>
                    </button>
                    <button
                        type="submit"
                        class="pure-button pure-button-primary">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<ul name="albums-list" class="album-list album-list-large"></ul>
</script>

<script type="text/template" id="photograph-edit-form">
<h2>Edit Photograph</h2>
<fieldset>
    <div class="pure-control-group">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%-title%>"></input>
    </div>
    <div class="pure-control-group">
        <label for="caption">Caption</label>
        <input type="text" name="caption" value="<%-caption%>"></input>
    </div>
    <div class="pure-control-group">
        <label for="taken">Date</label>
        <input type="text" name="date" value="<%-taken%>"></input>
    </div>
    <div class="pure-control-group">
        <label for="location">Location</label>
        <input type="text" name="location" value="<%-location%>"></input>
    </div>
    <div class="pure-control-group">
        <label for="tags">Tags</label>
        <input type="text" name="tags" value="<%-tags%>"></input>
    </div>
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">
            Save
        </button>
        <button
            class="pure-button button-warning"
            data-target="#deletemodal"
            data-toggle="modal">
        Delete
        </button>
    </div>
</fieldset>

<div
    id="deletemodal"
    tabindex="-1"
    class="modal fade hide"
    role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Photograph</h3>
            </div>
            <div class="modal-body">
                <img src="/jpeg_image?height=300&width=400&photograph_id=<%-photograph_id%>">
                <p>
                    Are you sure that you wish to delete '<%-title%>'?
                </p>
            </div>
            <div class="modal-footer">
               <button
                    class="pure-button"
                    type="button"
                    data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cancel</span>
                </button>
                <button
                    class="pure-button button-warning"
                    type="button"
                    name="delete-confirm">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="albums-form">
<h2>Albums</h2>
<div class="pure-control-group">
    <label for="albums">Album</label>
    <select class="pure-input" name="albums"></select>
</div>
<div class="pure-control-group">
    <label for="add"></label>
    <button type="submit" class="pure-button" name="add">Add</button>
</div>
<ul class="album-list album-list-small" name="photograph-albums"></ul>
</script>

<script type="text/template" id="photograph-new-form">
<h2>New Photograph</h2>
<div name="messagebox"></div>
<fieldset class="pure-control-group">
<fieldset>
    <div class="pure-control-group">
        <label for="title">Title</label>
        <input type="text" name="title"></input>
    </div>
    <div class="pure-control-group">
        <label for="caption">Caption</label>
        <input type="text" name="caption"></input>
    </div>
    <div class="pure-control-group">
        <label for="location">Location</label>
        <input type="text" name="location"></input>
    </div>
    <div class="pure-control-group">
        <label for="tags">Tags</label>
        <input type="text" name="tags"></input>
    </div>
    <div class="pure-control-group">
        <label for="file">File</label>
        <input type="file" name="file"></input>
    </div>
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">
            Upload
        </button>
    </div>
</fieldset>
</script>

<script type="text/template" id="signin-page">
<h2>Sign In</h2>
<div name="messagebox"></div>
<form class="pure-form pure-form-aligned">
<fieldset>
<div class="pure-control-group">
    <label for="username">Username</label>
    <input type="text" name="username"></input>
</div>
<div class="pure-control-group">
    <label for="password">Password</label>
    <input type="password" name="password"></input>
</div>
<div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">
        Sign In
    </button>
</div>
</form>
</script>

<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="backbone.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="modal.js"></script>
<script type="text/javascript" src="models.js"></script>
<script type="text/javascript" src="stacked_application.js"></script>
<script type="text/javascript" src="application.js"></script>
<script type="text/javascript">
Backbone.$ = $;
var gApplication = new StackedApplication;
</script>

</body>

</html>

