body {
    background-color: slategrey;
    color: black;
}

h1 {
    padding-top: 0.5em;
}

.pure-g > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5em;
}

.navigation ul {
    list-style-type: none;
    padding-left: 1em;
    font-size: large;
}

.main-menu button {
    display: block;
    font-size: 150%;
    height: 3em;
    width: 100%;
}

.album-list {
    list-style-type: none;
    padding: 0;
}

.album-list-large {
    -moz-column-count: 3;
    column-count: 3;
}

.album-list li {
    padding: 1em;
}

.album-list li:hover {
    background-color: lightgrey;
}

.thumbnail-list {
    list-style-type: none;
    padding: 0;
}

.thumbnail-list li {
    padding: 1em;
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    width: 0;
    margin: 0;
    vertical-align: middle;
}
.thumbnail-list li {
    display: inline-block;
    height: 194px;
    width: 194px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}
.thumbnail-list img {
    max-height: 190px;
    max-width: 190px;
    margin: 0px;
    vertical-align: middle;
}

.thumbnail-list li:hover {
    background-color: lightgrey;
}

#template_content {
    background-color: white;
    color: black;
}

/*
 * All anchors should be displayed as links, even if they don't have a href
 * attribute.
 */
a {
    text-decoration: underline;
    cursor: pointer;
}

/*
 * Message box styles.
 */

.messagebox {
    border-bottom: 4px solid black;
    padding: 1em;
    transition: all 1s;
}
.messagebox-close {
    float: right;
}
.messagebox-error {
    background-color: #ffbaba;
}
.messagebox-information {
    background-color: #bde5f8;
}
.messagebox-warning {
    background-color: #feefb3;
}
.messagebox-success {
    background-color: #dff2bf;
}

.image-container, .image-controls {
    background-color: #444;
    text-align: center;
    padding: 1em;
}

