<html>
<meta charset="UTF-8">

<head>

<title>Photograph Album</title>
<link href="/atlas/css/defaults.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/form.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/grid.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/list.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/modal.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/navigation.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="/atlas/css/teletype-theme.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="style.css" rel="stylesheet" type="text/css" media="all"></link>
<link
    href="/atlas/open-iconic/font/css/open-iconic.css"
    rel="stylesheet"
    type="text/css"
    media="all">
</link>

</head>

<body>

<div id="modal-container" class="modal-container"></div>

<ul class="navigation navigation-pages">
    <li>
        <span class="oi" data-glyph="home" aria-hidden="true"> </span>
        <a href="index.html">Home</a>
    </li>
</ul>

<ul id="navigation" class="navigation navigation-breadcrumbs"></ul>

<div id="template-content"></div>

<script type="text/template" id="homepage">
<h1>Helios <small>Photograph Album</small></h1>
<div class="main-menu">
    <div class="grid">
        <div class="col-1-2">
            <button name="albums">
                <span aria-hidden="aria-hidden" data-glyph="book" class="oi"> </span>
                Albums
            </button>
        </div>
        <div class="col-1-2">
            <button name="locations">
                <span aria-hidden="aria-hidden" data-glyph="map" class="oi"> </span>
                Locations
            </button>
        </div>
    </div>
    <div class="grid">
        <div class="col-1-2">
            <button name="random">
                <span aria-hidden="aria-hidden" data-glyph="random" class="oi"> </span>
                Random
            </button>
        </div>
        <div class="col-1-2">
            <button name="signin">
                <span aria-hidden="aria-hidden" data-glyph="account-login" class="oi"> </span>
                Sign In
            </button>
        </div>
    </div>
    <div class="grid">
        <div class="col-1-2">
            <button name="signout">
                <span aria-hidden="aria-hidden" data-glyph="account-logout" class="oi"> </span>
                Sign Out
            </button>
        </div>
        <div class="col-1-2">
            <button name="tags">
                <span aria-hidden="aria-hidden" data-glyph="tags" class="oi"> </span>
                Tags
            </button>
        </div>
    </div>
    <div class="grid">
        <div class="col-1-2">
            <button name="uncategorised">
                <span aria-hidden="aria-hidden" data-glyph="puzzle-piece" class="oi"> </span>
                Uncategorised
            </button>
        </div>
        <div class="col-1-2">
            <button name="upload">
                <span aria-hidden="aria-hidden" data-glyph="data-transfer-upload" class="oi"> </span>
                Upload
            </button>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="thumbnail-page">
<ul name="thumbnails" class="image-list"></ul>
</script>

<script type="text/template" id="album-form">
<div class="aligned">
    <div class="group">
        <label>
            Name
            <input type="text" name="name" value="<%-name%>"></input>
        </label>
    </div>
</div>
<button type="submit" class="button-primary">Save</button>
</script>

<script type="text/template" id="photograph-thumb-view">
<img
    src="jpeg_image?width=190&height=190&photograph_id=<%-photograph_id%>"
    alt="<%-title%>"><span class="vertical-align-helper"></span>
</script>

<script type="text/template" id="photograph-page">
<div class="grid" style="height: 500px;">
    <div class="col-1-12 image-controls" style="height: 100%;">
        <button
            type="button"
            class="button-block"
            <% if(disablePrev) print('disabled') %>
            name="prev">
            <span aria-hidden="aria-hidden" data-glyph="chevron-left" class="oi">
            </span>
        </button>
    </div>
    <div class="col-10-12 image-container" style="height: 100%;">
        <img
            src="jpeg_image?width=800&height=480&photograph_id=<%-photograph_id%>"
            alt="<%-title%>"><span class="vertical-align-helper"></span>
    </div>
    <div class="col-1-12 image-controls" style="height: 100%;">
        <button
            type="button"
            class="button-block"
            <% if(disableNext) print('disabled') %>
            name="next">
            <span aria-hidden="aria-hidden" data-glyph="chevron-right" class="oi">
            </span>
        </button>
    </div>
</div>
<h2><%-title%></h2>
<div name="details"></div>
<form name="edit"></form>
<form name="albums"></form>
</script>

<script type="text/template" id="photograph-view">
<dl type="compact">
<dt>Title</dt><dd><%-title%></dd>
<dt>Caption</dt><dd><%-caption%></dd>
<dt>Date</dt><dd><%-taken%></dd>
<dt>Location</dt><dd><%-location%></dd>
<dt>Tags</dt><dd><%-tags%></dd>
</dl>

<h2>Tools</h2>
<ul class="action-list">
<li><a href="jpeg_image?width=400&height=300&photograph_id=<%-photograph_id%>">400x300</a></li>
<li><a href="jpeg_image?width=800&height=600&photograph_id=<%-photograph_id%>">800x600</a></li>
<li><a href="jpeg_image?width=1024&height=768&photograph_id=<%-photograph_id%>">1024x768</a></li>
<li><a href="jpeg_image?width=1200&height=1000&photograph_id=<%-photograph_id%>">1200x1000</a></li>
<li><a href="jpeg_image_fullsize?photograph_id=<%-photograph_id%>">Original size</a></li>
</script>

<script type="text/template" id="albumform-template">
    <h3>New Album</h3>
    <div name="messagebox" class="messagebox"></div>
    <div class="aligned">
        <div class="group">
            <label>
                Name
                <input type="text" name="name" value="<%-name%>"></input>
            </label>
        </div>
    </div>
</script>

<script type="text/template" id="albums-page">
<button type="button" name="new-album"> New Album </button>
<ul name="albums-list" class="action-list action-list-large"></ul>
</script>

<script type="text/template" id="photograph-edit-form">
<h2>Edit Photograph</h2>
<div class="aligned">
    <div class="group">
        <label>
        Title
        <input type="text" name="title" value="<%-title%>"></input>
        </label>
    </div>
    <div class="group">
        <label>
        Caption
        <input type="text" name="caption" value="<%-caption%>"></input>
        </label>
    </div>
    <div class="group">
        <label>
        Date
        <input type="text" name="date" value="<%-taken%>"></input>
        </label>
    </div>
    <div class="group">
        <label>
        Location
        <input type="text" name="location" value="<%-location%>"></input>
        </label>
    </div>
    <div class="group">
        <label>
        Tags
        <input type="text" name="tags" value="<%-tags%>"></input>
        </label>
    </div>
    <div class="controls">
        <button type="submit" class="button-primary">Save</button>
        <button class="button-warning" name="delete">Delete</button>
    </div>
</fieldset>
</script>

<script type="text/template" id="deletephotograph-template">
<h3>Delete Photograph</h3>
<img src="jpeg_image?height=252&width=336&photograph_id=<%-photograph_id%>">
<p>
    Are you sure that you wish to delete '<%-title%>'?
</p>
</script>

<script type="text/template" id="albums-form">
<h2>Albums</h2>
<div class="aligned">
    <div class="group">
        <label>
        Albums
        <select name="albums"></select>
        </label>
    </div>
    <div class="group">
        <label>
        <button type="button" name="add">Add</button>
        </label>
    </div>
</div>
<ul class="action-list action-list-small" name="photograph-albums"></ul>
</script>

<script type="text/template" id="uploadpage-template">
<h2>New Photograph</h2>
<div name="messagebox"></div>
<form method="POST" enctype="multipart/form-data" name="photographform">
    <div class="aligned">
        <div class="group">
            <label>
            Title
            <input type="text" name="title"></input>
            </label>
        </div>
        <div class="group">
            <label>
            Caption
            <input type="text" name="caption"></input>
            </label>
        </div>
        <div class="group">
            <label>
            Location
            <input type="text" name="location"></input>
            </label>
        </div>
        <div class="group">
            <label>
            Tags
            <input type="text" name="tags"></input>
            </label>
        </div>
        <div class="group">
            <label>
            File
            <input type="file" name="file"></input>
            </label>
        </div>
        <div class="controls">
            <button type="submit" class="button-primary">
                Upload
            </button>
        </div>
    </div>
</form>
</script>

<script type="text/template" id="signin-page">
<h2>Sign In</h2>
<div name="messagebox"></div>
<form>
<div class="aligned">
    <div class="group">
        <label>
        Username
        <input type="text" name="username"></input>
        </label>
    </div>
    <div class="group">
        <label>
        Password
        <input type="password" name="password"></input>
        </label>
    </div>
    <div class="controls">
        <button type="submit" class="button-primary">Sign In</button>
    </div>
</div>
</script>

<script type="text/template" id="tagspage-template">
<ul class="action-list action-list-large" name="tags"></ul>
</script>

<script type="text/template" id="locationspage-template">
<ul class="action-list action-list-large" name="locations"></ul>
</script>

<script type="text/javascript" src="/atlas/underscore.js"></script>
<script type="text/javascript" src="/atlas/backbone.js"></script>
<script type="text/javascript" src="/atlas/jquery.js"></script>
<script type="text/javascript" src="/atlas/modal.js"></script>
<script type="text/javascript" src="/atlas/stacked_application.js"></script>
<script type="text/javascript" src="models.js"></script>
<script type="text/javascript" src="application.js"></script>
<script type="text/javascript">
Backbone.$ = $;
var gApplication = new StackedApplication(HomePage);
gApplication.goHome();
</script>

</body>

</html>

